<header>
  <nav
    id="navbar"
    class="navbar is-white is-spaced has-shadow-thin is-montserrat is-fixed-top"
    style="z-index:999;"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      {{#if @site.logo}}
        <div class="navbar-item logo">
          <a href="{{{block " siteurl"}}}">
            <img
              src="{{@site.logo}}"
              alt="{{@site.title}}"
              title="{{@site.title}} - {{{block " description"}}}"
              width="auto"
              height="28"
            />
          </a>
        </div>
      {{else}}
        <div class="navbar-item text-logo">
          <a
            class="align-vcentered"
            href="{{{block " siteurl"}}}"
            alt="{{@site.title}}"
            title="{{@site.title}} - {{{block " description"}}}"
          >
            {{#if @site.icon}}
              <img src="{{@site.icon}}" />
            {{/if}}
            {{@site.title}}
            <span>
              .
            </span>
          </a>
        </div>
      {{/if}}
      {{! burger in mobile devices }}
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarPrimary"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarPrimary" class="navbar-menu">
      {{! Site Navigation }}
      <div class="navbar-start">
        {{{block "navigation"}}}
      </div>
      <div class="navbar-end">
        <div class="navbar-item" id="search-btn">
          <i class="iconfont icon-search"></i>
        </div>
        <div class="fizzy-search">
          <div class="field has-addons" style="display:none" id="search-form">
            <div class="control has-icons-left">
              <input
                id="search-input"
                class="input"
                placeholder="{{t " Search"}}"
              />
              <span class="icon is-left">
                <i class="iconfont icon-search"></i>
              </span>
            </div>
            <div class="control" id="close-btn">
              <button type="submit" class="button">
                <i class="iconfont icon-cross"></i>
              </button>
            </div>
          </div>
          <div id="search-results"></div>
        </div>
        <div class="navbar-item">
          {{{block "langswitcher"}}}
          {{#link href="/polskie" activeClass="lang-selected"}}
            <img
              class="lang-switcher"
              src="{{asset "images/poland-flag-round-icon-256.png"}}"
            />
          {{/link}}
          {{#link href="/blgharski" activeClass="lang-selected"}}
            <img
              class="lang-switcher"
              src="{{asset "images/bulgaria-flag-round-icon-256.png"}}"
            />
          {{/link}}
          {{#link href="/romana" activeClass="lang-selected"}}
            <img
              class="lang-switcher"
              src="{{asset "images/romania-flag-round-icon-256.png"}}"
            />
          {{/link}}
        </div>
      </div>
    </div>
  </nav>
</header>